.demo{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 1102px;
}
.demo-first-wraaper{
    margin: auto;
    display: flex;
gap: 90px;
    padding: 90px 40px;

}
.demo-contq{
    display: flex;
flex-direction: column;
gap: 40px;
}

.demo-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.demo-title h1{
font-size: 2rem;
font-weight: 400;
line-height: 40px;
}
.demo-title p{
font-size: 0.7rem;
font-weight: 500;

}
.demo-list{
    display: flex;
    gap: 40px;
    align-items: center;
    
}
.demo-box1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.demo-box1 span{
  display: flex;
  align-items: center;
  gap: 10px;
}
.demo-box1 span svg{
font-size: 1.6rem;
}
.demo-buton-box{
    display: flex;
    align-items: center;
    gap: 20px;
}
.demo-buton-box a{
color: black;
font-weight: 500;
}

.demo-square{
  rotate: -5deg;
    width: 370px;
    height:370px;
    background: #f5efff;
}
.imgseciotn {
    z-index: 22;
    position: absolute;
}
.imgseciotn img{
  border: 1px solid;
object-fit: contain;
width: 370px;
}
.demo-box1 h1{
    font-weight: 400;
}
.demo-box1 p{
    font-weight: 100;
    font-size: 0.8rem;
}

.second-wrappper{
    padding: 90px 40px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin: auto;
}

.main-content-damo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    text-align: center;
    z-index: 99;
}
.main-content-damo h1 {
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 50px;
}

.semi-circle-wraaper {
    /* top: 749px; */
    width: 100%;
    display: flex;
    position: relative;
    top: 192px;
    /* overflow: hidden; */
    justify-content: center;
    left: 0;
    /* z-index: 11; */
}

    .s-first {
        width: 246px;
        height: 246px;
        /* background-color: #48abe0; */
        border-radius: 50%;
        border: 1px solid #00000024;
    }
.s-second {
    width: 605px;
    height: 605px;
    /* background-color: #48abe0; */
    border-radius: 50%;
    border: 1px solid #00000024;
    margin: -175px;
}
.s-third {
    width: 1268px;
    height: 1268px;
    /* background-color: #48abe0; */
    border-radius: 50%;
    border: 1px solid #00000024;
    margin: -448px;
}
.s-fourth {
    width: 1865px;
    height: 1865px;
    /* background-color: #48abe0; */
    border-radius: 50%;
    border: 1px solid #00000024;
    margin: -674px;
}
.checking{
    position: relative;
}
.test{
    position: absolute;
}
.group-profile{
    display: flex;
    flex-direction: row;
    left: 0;
    position: absolute;
    justify-content: space-around;
    width: 100%;

}
.pprofile_1 img{
    width: 70px;
    height: 70px;
   object-fit: cover;
border-radius: 50%; 
}
.grp-1{
    gap: 84px;
    flex-direction: column;
    display: flex;
}
.grp-2{
    gap: 84px;
    flex-direction: column;
    display: flex;
}

.i-pp1 img {
   
    width: 70px;
    height: 70px;
 
    object-fit: cover;
  
    border-radius: 50%;
    display: flex;

}

.i-pp1  {
    display: flex;
    align-items: center;
    gap: 30px;
    top: 34px;
    left: 84px;
    z-index: 999;
    position: relative;
}
.profile-user h1{
    font-size: 1rem;

}
.profile-user p{
    font-size: 0.6rem;

}



.i-pp2 img {
    right: 148px;
    position: relative;
    width: 120px;
    height: 120px;
    z-index: 999;
    object-fit: cover;
    border-radius: 50%;
}
.i-pp3 img {
    z-index: 999;
    bottom: 49px;
    top: -5px;
    left: 45px;
    position: relative;
}
.i-pp4 img {
    top: 80px;
    position: relative;
    z-index: 999;
    width: 90px;
    height: 90px;
}
.i-pp5 img {
    z-index: 999;
    position: relative;
    left: 169px;
    width: 120px;
    height: 120px;
}
.i-pp6  {
    left: 80px;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 999;
}
.profile-user{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background: wheat;
    border-radius: 7px  ;
}


@media screen and (max-width: 1665px) {

    .group-profile{
        display: none;
    }
}

@media screen and (max-width: 771px) {

    .semi-circle-wraaper{
        display: none;
    }
}
@media screen and (max-width: 901px) {

    .demo-square {
        rotate: -5deg;
        width: 278px;
        height: 278px;
        background: #f5efff;
    }
    .imgseciotn img {
        border: 1px solid;
        object-fit: contain;
        width: 278px;
    }
    
}

@media screen and (max-width: 725px) {

    .demo-first-wraaper {
        margin: auto;
        display: flex;
        gap: 90px;
        flex-direction: column;
        padding: 90px 40px;
    }
    .dmeo-img-seciton{
        justify-content: end;
    display: flex;
    }
    .demo-first-wraaper{
        flex-direction: column-reverse;
    }
    
}
@media screen and (max-width: 385px) {

 .demo-list{
    flex-direction: column;
 }
 .demo-first-wraaper {
    margin: auto;
    display: flex;
    gap: 90px;
    flex-direction: column-reverse;
    padding: 90px 10px;
}
.imgseciotn img {
    border: 1px solid;
    object-fit: contain;
    width: 90vw;
}
.demo-square {
    rotate: -5deg;
    width: 90vw;
    height: 90vw;
    background: #f5efff;
}
.dmeo-img-seciton {
    justify-content: center;
    display: flex;
}
}